@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Mã sinh viên: 2310900029</p>
    <p>Họ và tên: Phạm Văn Duy</p>
    <p>Email: duyqd.qd2005@gmail.com</p>
    <p>Điện thoại: 01234567890</p>
    <p>Lớp: K23CNT1</p>
</div>

