
@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class="alert alert-info">
    <h1>Thông tin sinh viên</h1>
    <hr/>
    <p>Họ Tên: Phạm Văn Duy</p>
    <p>MSV: 02310900029</p>
    <p>Lớp: K23CNT1</p>
    <p>Email: duyqd.qd2005@gmail.com</p>
    <p>Phone: 0123456789</p>
</div>


