@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>
<hr/>
<div class="alert alert-danger">
    <p>Mã sinh viên: 2310900029</p>

    <p>Họ tên: Phạm Văn Duy</p>
    <p>Lớp: K23CNT1-NET</p>
    <p>Email: duyqd.qd2005@gmail.com</p>
    <p>Điện thoại: 025.456.72 b80</p>
</div>
